<div class="container ">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor = "let item of listChapters">
            <div class="card m-3" style="width: 18rem;">
                <div class="card-header">
                    <h3>{{item.episode}}</h3>
                </div>
                <div class="list-group list-group-flush">
                    <p class="list-group-item">{{item.name}}</p>
                    <p class="list-group-item">{{item.air_date}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
