<div class="container">
    <h1>Api Rick & Morty</h1>
    <div class="text-center m-3">
        <div class="bg-dark container-home">
            <p>Serie de televisión Estadounidense de animación para adultos</p>
            <p>Creada por Justin Rolland y Dabn Harmon en 2013</p>
        </div>
        <div class="bg-container">
            <p>La serie sigue las desventuras de un científico, Rick y su facilmente influenciable nieto, Morty, quienes pasan el tiempo entre la vida domentica y los viajes espaviales, temporales e intergalacticos.</p>
        </div>
    </div>    
</div>