/* You can add global styles to this file, and also import other style files */
/*SETTINGS*/
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap";
/*TOOLS*/


/*GENERIC*/
h1{
    text-align: center;
    text-decoration: underline;
    font-family: rickandmorty;
    color: #57a639;    
}
h3{
    text-align: center;
    font-family: rickandmorty;
    color: #57a639; 
}
a{
    color: #57a639;
    text-decoration: none    
} ;

/*ELEMENTS*/

/*BLOCKS*/

/*UTILITIES*/
@font-face{
    font-family: "rickandmorty";
    src:local("rickandmorty"),url(./assets/get_schwifty.ttf) format("truetype");
}
